@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient( 45deg, #9b34ef 0%, #490cb0 20%, transparent 50% );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient( 90deg, #5516ba, rgba(255, 0, 229, 0.5) 80% );
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
width: 8px;
}

::-webkit-scrollbar-thumb {
background: var(--tertiary-color);
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: var(--secondary-color);
}

body {
    box-sizing: border-box;
    position: relative;
    background-color: var(--primary-color);
    font-family: Raleway, sans-serif;
    color: var(--text-color);
}

p {
    font-family: Quicksand, sans-serif;
    margin: 0;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: var(--nav-bg-color);
    min-height: 80px;
    max-height: 100px;
    padding: 25px;  
}

nav img {
    object-fit: cover;
    width: 35%;
}

.logo {
    display: block;
    text-align: center;
    width: 100%;
    height: min-content;
    margin: 10px auto 0;
}

.nav-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.nav-item {
    font-size: .825rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
    margin: 0 10px;
}

nav .btn {
    background-color: var(--tertiary-color);
    background-image: none;
    width: max-content;
    padding: 8px 25px;
    margin: 0;
}

nav .btn:hover {
    background-color: var(--btn-link-bg-color);
    color: var(--btn-link-color);
    transition: 1s ease;
}

.btn {
    cursor: pointer;
    background: var(--btn-bg-color-gradient);
    background-size: 400% 400%;
    color: var(--text-color);
    max-width: 70%;
    padding: 10px 40px;
    margin-top: 80px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 80px;
}

.btn:hover:not(nav .btn) {
    font-weight: 900;
    border: 2px solid var(--tertiary-color);
    transition: background 1s ease-in;
}

.btn-anim:hover {
    animation: button-transition 5s forwards;
}

:where(header, .prices, .streaming) {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 40px;
    padding: 15vh 35px;
    padding-bottom: 20vh;
    text-align: center;
}

header {
    position: relative;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    padding-bottom: 300px;
    animation: background-transition 5s ease infinite alternate;
}

header::before {
    content: "";
    background-image: linear-gradient(transparent 80%, var(--primary-color) 100%);
    width: 100%;
    height: 93%;
    position: absolute;
}

.container-header {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 40px;
    max-width: 750px;
    margin: auto;
}

.company-logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-between;
    height: 130px;
}

.company-logos img {
    object-fit: contain;
}

.title {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2.3rem;
    max-width: 630px;
    padding: 10px;
    margin: 0;
}

.title-2 {
    font-weight: 600;
    font-size: 1.8rem;
    margin: 0;
}

.title-3 {
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0;
}

.spn {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
}

.header-divider {
    background: linear-gradient( 90deg, #5516ba, rgba(255, 0, 229, 0.5) 80% );
    width: 70%;
    height: 5px;
    border: 0;
}

.spn-menor {
    font-size: 2.5rem;
}

.btn-plan {
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 50px;
    animation: shaking 2s ease infinite;
}

.p-menor {
    font-weight: 200;
}

main {
    max-width: 700px;
    margin: auto;
}

section {
    scroll-margin-top: 50px;
}

.prices {
    padding: 15vh 20px;
}

.card {
    background: var(--card-bg-color);
    max-width: 350px;
    padding: 20px 0px;
    border-radius: 10px;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.card ul {
    list-style: none;
    text-align: left;
    padding-left: 30px;
}

.card li {
    font-size: 1.2rem;
    padding: 0 10px;
    margin: 30px 0;
}

.card li::marker {
    content: "+";
    font-size: 2rem;
}

.btn-buy {
    font-weight: 700;
    text-transform: uppercase;
}

.grid {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    overflow: scroll hidden;
    max-width: 350px;
    max-height: 500px;
}

.grid-item {
    flex-shrink: 0;
    width: 100%;
}

.grid-item img {
    object-fit: contain;
    background: center/cover no-repeat;
    width: 100%;
    height: 100%;
}

:where(#streaming-hbo, #streaming-max, #streaming-dc, #streaming-wb, #streaming-cn, #streaming-ucl):hover::before
{
    content: "";
    position: absolute;
    background: center/cover no-repeat;
    width: 100%;
    height: 100%;
    border: 3px groove var(--tertiary-color);
    border-radius: 3%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: background 2s ease-in;
}

#streaming-hbo::before {background-image: url("./assets/images/hbo-hover_0.webp");}
#streaming-max::before {background-image: url("./assets/images/MAX-Hover.webp");}
#streaming-dc::before {background-image: url("./assets/images/DC-Hover.webp");}
#streaming-wb::before {background-image: url("./assets/images/WB-Hover.webp");}
#streaming-cn::before {background-image: url("./assets/images/CN-Hover.png");}
#streaming-ucl::before {background-image: url("./assets/images/UCL-Hover.webp");}

a {
    text-decoration: none;
}

.link {
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2rem;
    color: var(--link-color);
}

.link:hover {
    text-decoration: underline;
    color: var(--tertiary-color);
    transition: .5s;
}

:where(footer, .footer-nav) {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

footer {
    gap: 20px;
    text-align: center;
    padding: 10px 20px;
    margin-top: 30px;
}

small {
    font-weight: 200;
    color: var(--link-color);
}

.socials {
    padding: 20px 0;
}

.socials a {
    margin: 0 10px;
}

form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.06);
    max-width: 500px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid var(--form-field-border);
    border-radius: 5px;
}

label {
    width: 80%;
}

input {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--text-color);
    max-width: 80%;
    padding: 15px 30px;
    margin: 15px 0;
    border: 1px solid;
    border-color: var(--form-field-border);
    border-radius: 5px;
}

input:focus {
    border: 2px groove;
}

input:invalid {
    border: 1px solid var(--form-field-error);
}

input::placeholder {
    color: var(--form-field-placeholder);
}

.link-menor {
    font-size: .7rem;
}

@keyframes shaking {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(10deg);
    }
    35% {
        transform: rotate(-10deg);
    }
    40%, 100% {
        transform: rotate(0deg);
    }
}

@keyframes background-transition {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes button-transition {
    0% {
        background-position: 0% 50%;
        padding: 1em;  
    }
    5% {
        padding: 1.2em;
    }
    50%, 100% {
        background-position: 100% 50%;    
        padding: 1.2em;
    }
}


@media screen and (min-width: 600px) {
    header {
        padding-bottom: 200px;
    }

    header::before {
        background-image: linear-gradient(transparent 60%, var(--primary-color) 100%);
    }

    .company-logos {
        height: min-content;
        margin-bottom: 50px;
    }

    .btn-plan {
        margin-top: 40px;
    }

    .title-2 {
        font-size: 2rem;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 80%;
        max-height: unset;
        overflow: visible;
    }

    :where(#streaming-hbo, #streaming-max, #streaming-dc, #streaming-wb, #streaming-cn, #streaming-ucl):hover::before
    {
        width: 100%;
        height: 100%;
        grid-area: 1 / 2 / 1 / 2;
    }

    .footer-nav {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (min-width: 700px) {
    nav {
        justify-content: space-between;
        padding: 0px 20px;
    }

    .logo {
        width: 150px;
        margin: 0;
    }

    .logo img {
        width: 100%;
    }

    .prices {
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        perspective: 1000px;
    }

    .card {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        transition: 1s ease;
    }

    .card:first-of-type button {
        padding: 20px 40px;
    }

    #card-1:hover + .card {
        transform: rotateY(-30deg);
    }

    .cards:has(#card-2:hover) #card-1 {
        transform: rotateY(30deg);
    } 

    form {
        max-width: 90%;
    }
    
}

@media screen and (min-width: 1000px) {
    main {
        max-width: 1000px;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}