/formacao-java-developer/simulando-uma-conta-bancaria-atraves-do-terminal-console/.idea
/formacao-java-developer/criando-um-pequeno-sistema-para-validacao-de-processo-seletivo/.idea
/formacao-java-developer/ModelandoiPhoneComUMLFuncoesDeMusicasChamadasInternet/.idea
/formacao-java-developer/CriandoBancoDigitalJavaOrientacaoObjetos/.idea
/formacao-java-developer/AbstraindoBootcampUsandoOrientacaoObjetosJava/.idea
/formacao-java-developer/DesignPatternsJavaSpringFramework/.idea
/formacao-java-developer/ConhecendoSpringDataJpaNaPraticaJava/.idea

/formacao-php-experience/ConstruindoAPIDoZero/.phpunit.cache
/formacao-php-experience/ConstruindoAPIDoZero/node_modules
/formacao-php-experience/ConstruindoAPIDoZero/public/build
/formacao-php-experience/ConstruindoAPIDoZero/public/hot
/formacao-php-experience/ConstruindoAPIDoZero/public/storage
/formacao-php-experience/ConstruindoAPIDoZero/storage/*.key
/formacao-php-experience/ConstruindoAPIDoZero/vendor
/formacao-php-experience/ConstruindoAPIDoZero/.env
/formacao-php-experience/ConstruindoAPIDoZero/.env.backup
/formacao-php-experience/ConstruindoAPIDoZero/.env.production
/formacao-php-experience/ConstruindoAPIDoZero/.phpactor.json
/formacao-php-experience/ConstruindoAPIDoZero/.phpunit.result.cache
/formacao-php-experience/ConstruindoAPIDoZero/Homestead.json
/formacao-php-experience/ConstruindoAPIDoZero/Homestead.yaml
/formacao-php-experience/ConstruindoAPIDoZero/auth.json
/formacao-php-experience/ConstruindoAPIDoZero/npm-debug.log
/formacao-php-experience/ConstruindoAPIDoZero/yarn-error.log
/formacao-php-experience/ConstruindoAPIDoZero/.fleet
/formacao-php-experience/ConstruindoAPIDoZero/.idea
/formacao-php-experience/ConstruindoAPIDoZero/.vscode

/formacao-angular-developer/CriandoBlogAngular/.angular
/formacao-angular-developer/CriandoBlogAngular/.idea
/formacao-angular-developer/CriandoBlogAngular/.vscode
/formacao-angular-developer/CriandoBlogAngular/node_modules
/formacao-angular-developer/CriandoBlogAngular/package-lock.json
/formacao-angular-developer/RecriandoInterfacePlayStationStoreAngular/.angular
/formacao-angular-developer/RecriandoInterfacePlayStationStoreAngular/.idea
/formacao-angular-developer/RecriandoInterfacePlayStationStoreAngular/.vscode
/formacao-angular-developer/RecriandoInterfacePlayStationStoreAngular/node_modules
/formacao-angular-developer/RecriandoInterfacePlayStationStoreAngular/package-lock.json
/formacao-angular-developer/CriandoCloneBuzzFeedAngular/.angular
/formacao-angular-developer/CriandoCloneBuzzFeedAngular/.idea
/formacao-angular-developer/CriandoCloneBuzzFeedAngular/.vscode
/formacao-angular-developer/CriandoCloneBuzzFeedAngular/node_modules
/formacao-angular-developer/CriandoCloneBuzzFeedAngular/package-lock.json
